body{
    margin: 0;
    padding: 0;
    background-color: rgb(179, 255, 229);
    }
    .app-heading{
        background-color: rgb(254, 248, 145);
        color: blue;
        border-radius: 3px;
        width: 150px;
      }
    
    .texts-container{
        display: flex;
        justify-content: space-around;
        }
    
        .input-text{
            width: 250px;
            height: 80px;
        }

        .match-result{
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

        .result{
            text-align: center;
        }

    
      